{% extends "base.html" %}
{% load static %}
{% load categories_tags %}

{% block title %}Your shopping cart{% endblock %}

{% block left %}
{% categories_tags %}
{% endblock %}

{% block middle %}

{% for item in cart %}
  {% with product=item.product %}
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark text-center">Your Shopping Cart</li>
    </ul>
  </div>
  <br><br>
  <div class="row">
    <div class="card-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="..." width="200" height="300">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">{{ product.name }}</a></h5>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>Quantity</td>
                  <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="POST" class="text-end">
                      <p class="text-start text-dark fs-4">{{ item.quantity }}</p>
                      {{ item.update_quantity_form.quantity }}
                      {{ item.update_quantity_form.override }}
                      <input type="submit" class="btn btn-secondary" value="Update">
                      {% csrf_token %}
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>Remove</td>
                  <td>
                    <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                      <div class="text-end">
                        <input type="submit" class="btn btn-secondary" value="Remove">
                        {% csrf_token %}
                      </div>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>Unit Price</td>
                  <td><p class="fs-4">${{ item.price }}</p></td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td><p class="fs-4">${{ item.total_price }}</p></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><p class="fs-4">${{ cart.get_total_price }}</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endwith %}
{% endfor %}

{% endblock %}

<h1>Your shopping cart</h1>
<table class="cart">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <td>
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}
              {% else %}{% static "img/no_image.png" %}{% endif %}">
            </a>
          </td>
          <td>{{ product.name }}</td>
          <td>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
              {{ item.update_quantity_form.quantity }}
              {{ item.update_quantity_form.override }}
              <input type="submit" value="Update">
              {% csrf_token %}
            </form>
          </td>
          <td>
            <form action="{% url "cart:cart_remove" product.id %}" method="post">
              <input type="submit" value="Remove">
              {% csrf_token %}
            </form>
          </td>
          <td class="num">${{ item.price }}</td>
          <td class="num">${{ item.total_price }}</td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr class="total">
      <td>Total</td>
      <td colspan="4"></td>
      <td class="num">${{ cart.get_total_price }}</td>
    </tr>
  </tbody>
</table>
<p class="text-right">
  <a href="{% url 'shop:index' %}" class="button
  light">Continue shopping</a>
</p>