{% extends "base.html" %}
{% load static %}
{% load categories_tags %}

{% block title %}Shopping Cart{% endblock %}

{% block left %}
{% categories_tags %}
{% endblock %}

{% block middle %}

<div class="row">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark text-center">Your Shopping Cart</li>
  </ul>
</div>

{% if request.user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000"> <!-- this will be fixed. will be controlled in views -->
{% else %}
{% if cart %}
  {% for item in cart %}
    {% with product=item.product %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{product.name}}</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="..." width="100" height="150"></th>
          <td> 
              <p class="fs-4">{{ item.quantity }}</p>
          </td>
          <td class="fs-4">${{ item.price }}</td>
          <td class="fs-4">${{ item.total_price }}</td>
        </tr>
        <tr>
          <th>
            <form action="{% url 'cart:cart_add' product.id %}" method="POST" class="text-start">
              <div class="">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" class="btn btn-secondary" value="Update">
              </div>
              {% csrf_token %}
            </form>
          </th>
          <th>
            <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                <input type="submit" class="btn btn-secondary" value="Remove">
                {% csrf_token %}
            </form>
          </th>
        </tr>
      </tbody>
    </table>

    {% endwith %}
  {% endfor %}

  <table class="table">
    <tbody>
      <tr class="table-secondary">
        <th class="fs-4">Total Price</th>
        <th scope="row"><p class="text-end fs-5">${{ cart.get_total_price }}</p></th>
      </tr>
    </tbody>
  </table>

{% else %}

<p class="fs-4">Your cart is empty!</p>

{% endif %}

{% if cart %}

<div class="row">
  <p class="text-end">
    <a href="{% url 'shop:index' %}" class="btn btn-secondary">Continue Shopping</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-secondary">Checkout</a>
  </p>
</div>

{% else %}

<div class="row">
  <p class="text-end">
    <a href="{% url 'shop:index' %}" class="btn btn-secondary">Continue Shopping</a>
  </p>
</div>

{% endif %}
{% endif %}


{% endblock %}