{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'shop:index' %}">MSHOP</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">null</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">null</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">null</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'cart:my_cart' %}">My Cart</a>
                        </li>
                        {% else %}
                        {% with total_items=cart|length %}
                          {% if total_items > 0 %}
                            <li class="nav-item">
                                <a class="nav-link active text-success" href="{% url 'cart:cart_detail' %}">Your Cart: {{ total_items }} item{{total_items|pluralize }}, ${{ cart.get_total_price }}</a>
                            </li>
                          {% else %}
                            <li class="nav-item">
                                <a class="nav-link active text-secondary" href="{% url 'cart:cart_detail' %}">Your Cart: Empty</a>
                            </li>
                          {% endif %}
                        {% endwith %}
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'register' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'shop:test' %}">TEST</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block left %}
                    {% endblock %}
                </div>
                <div class="col-6">
                    {% block middle %}
                    {% endblock %}
                </div>
                <div class="col-3">
                    {% block right %}
                    {% endblock %}
                </div>
            </div>
        </div>


        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>